@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

$white: #fff;
$primaryColor: #333;
$blue: #5D67E9;
$gray: #7B7B7B;
$lightGray: #D5D5D5;
$lightBlue: #E8F6FD;
$red: #EA335E;
$green: #2EA44E;
$darkBlue: #133D91;


/* ============ Icons Css Start =========== */

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?pfmwut');
    src:  url('../fonts/icomoon.eot?pfmwut#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?pfmwut') format('truetype'),
      url('../fonts/icomoon.woff?pfmwut') format('woff'),
      url('../fonts/icomoon.svg?pfmwut#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
} 
[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

  .icon-color-user .path1:before {
    content: "\e90c";
    color: rgb(0, 165, 165);
  }
  .icon-color-user .path2:before {
    content: "\e90d";
    margin-left: -0.7841796875em;
    color: rgb(237, 188, 148);
  }
  .icon-classes:before {
    content: "\e900";
  }
  .icon-dasboard:before {
    content: "\e901";
  }
  .icon-institution:before {
    content: "\e902";
  }
  .icon-profile:before {
    content: "\e903";
  }
  .icon-teacher:before {
    content: "\e90b";
  }
  .icon-down-arrow:before {
    content: "\e904";
  }
  .icon-delete:before {
    content: "\e905";
  }
  .icon-draw:before {
    content: "\e906";
  }
  .icon-edit:before {
    content: "\e907";
  }
  .icon-upload:before {
    content: "\e908";
  }
  .icon-back:before {
    content: "\e909";
  }
  .icon-add-user:before {
    content: "\e90a";
  }

/* ============ Common Css Start =========== */

@mixin button($padding, $bg){
    padding: $padding;
    background-color: $bg;
    color: $white;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    letter-spacing: .2px;
    @media (max-width: 1024px){
        font-size: 13px;
    }
}

body{
    font-size: 14px;
    background-color: $white;
    color: $primaryColor;
    font-family: 'Poppins', sans-serif;
}
ul{
    margin: 0;
    padding: 0;
    li{
        list-style: none;
    }
}
a{
    text-decoration: none;
}
b{
    font-weight: 500;
}
.form-control:focus, .btn:focus, .btn-close:focus{
    outline: none;
    box-shadow: none;
}
.scroll{
    overflow: auto;
    border: solid 1px #E4E4E4;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track {
    background: #f3f1ec;
}
::-webkit-scrollbar-thumb {
    background: #a19894;
    border-radius: 10px;
}
* {
    scrollbar-width: thin;
}



.mainBtn{
    @include button(12px 20px, $green);
    &:hover{
        color: $white;
    }
    &.color1{
        color: $blue;
        background: #EEF1FD;
    }
    &.color2{
        color: #19AEFF;
        background: #E7F7FF;
    }
    &.color3{
        color: #EA335E;
        background: #FFEDF4;
    }
    &.color4{
        color: #FC5B00;
        background: #FFEEE5;
    }
    &.blue{
        background-color: $blue;
    }
}
.linkBtn{
    color: $blue;
    font-weight: 500;
    font-size: 15px;
    .icon{
        font-size: 15px;
        margin-top: -3px;
    }
    &:after{
        width: 100%;
        height: 1px;
        background: $primaryColor;
        content: "";
        display: block;
        transform: translateY(5px);
        opacity: 0;
        transition: all .3s ease-in-out;
    }
    &:hover{
        &:after{
            transform: translateY(2px);
            opacity: .7;
        }
    }
}
.actionBtn{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 3px;
    padding: 0;
    font-size: 13px;
    margin-right: 3px;
    &.action{
        border: solid 1px rgba(93,103,233, 0.62);
        color: $blue;
    }
    &.delete{
        border: solid 1px rgba(234,51,94, 0.62);
        color: $red;
        line-height: 25px;
        font-size: 14px;
    }
}
.alert-orange{
    background: #FFEEE5;
    border: solid 1px #FFE2D2;
    padding: 10px; 
    color: #FC5B00;
    border-radius: 3px;
}
.form-label{
    margin-bottom: 5px;
}

table{
    width: 100%;
    // table-layout: fixed;
    font-size: 14px;
    background: $white;
    @media (max-width: 1024px){
        font-size: 13px;
    }
}
.userBox{
    .userLetter{
        min-width: 40px;
        height: 40px;
        line-height: 40px;
        color: $white;
        font-size: 18px;
        font-weight: 600;
        background-color: rgba(9,66,93, 0.74);
        border-radius: 7px;
    }
    b{
        font-size: 15px;
        margin-bottom: 2px;
    }
}
.grayBg{
    background: #F6F6F6;
}
.h-100vh{
    min-height: calc(100vh - 75px);
}

/* ============ Sidemenu Css Start =========== */

.sideMenu{
    background-color: $white;
    height: 100vh;
    width: 130px;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.32);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 10;

    .menuWrap{
        li{
            a{
                min-height: 110px;
                background-color: transparent;
                color: $primaryColor;
                border-bottom: solid 1px $lightGray;
                border-left: solid 3px transparent;
                transition: background-color .3s ease;
                .icon{
                    font-size: 43px;
                    color: $gray;
                    transition: color .3s ease;
                }
                p{
                    margin: 10px 0 0;
                    font-size: 13px;
                    font-weight: 500;
                }
                &.active, &:hover{
                    background-color: #F5F6FE;
                    color: $blue;
                    .icon{
                        color: $blue;
                    }
                }
                &.active{
                    border-left-color: $blue;
                }
            }
        }
    }
}

/* ============ Topbar Css Start =========== */

.topbar{
    padding: 15px 30px;
    left: 130px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15);
    position: fixed;
    top: 0;
    background: #fff;
    right: 0;
    z-index: 9;
    .pageTitle{
        h1{
            font-size: 20px;
            font-weight: 500;
            @media (max-width: 1024px){
                font-size: 18px;
            }
        }
    }
    .mainBtn{
        padding: 10px 17px;
        background-color: $lightBlue;
        border: solid 1px #D2E9F5;
        color: #011F3B;
        white-space: nowrap;
    }
    .userBox{
        .userLetter{
            min-width: 35px;
            height: 35px;
            border-radius: 50%;
            font-size: 16px;
            line-height: 35px;
            background: #637A88;
        }
        b{
            font-size: 14px;
        }
        @media (max-width: 1024px){
            font-size: 14px;
        }
    }
}

/* ============ Contentarea Css Start =========== */

.mainContent{
    margin-left: 130px;
    margin-top: 75px;
    padding: 0 30px;
    min-height: calc(100vh - 75px);
    @media (max-width: 1024px){
        padding: 0 20px;
    }
}
.status{
    font-size: 13px;
    border-radius: 20px;
    padding: 4px 13px;
    @media (max-width: 1024px){
        font-size: 12px;
    }
    &.active{
        color: $green;
        background-color: #E9F6ED;
    }
    &.delete{
        color: $red;
        background-color: #FEF3F5;
    }
}

/* ============ Responsive Table Css Start =========== */

.responsiveTable {
    tr{
        border-bottom: 1px solid #E4E4E4;
        &:last-child{
            border-bottom: none;
        }
    }
    th, td{
        padding: 11px 15px;
    }
    th{
        text-transform: uppercase;
        font-weight: 500;
        position: sticky;
        top: 0;
        z-index: 5;
        background-color: $lightBlue;
        white-space: nowrap;
    }
    @media (max-width: 991px){
        th, td{
            padding: 11px 7px;
        }
    }
}
table.white{
    @media (min-width: 1200px){
        font-size: 16px;
    }
    th{
        background: $white;
        font-size: 13px;
        border-bottom: solid 1px #d8d8d8;
        &:first-child{
            @media (max-width: 991px){
                width: 50px !important;
            }
        }
    }
}

/* ============ Color Box Css Start =========== */

.colorBox{
    background-color: $lightBlue;
    border-radius: 15px;
    padding: 30px 25px;
    color: #09425D;
    .userBox b{
        font-weight: 600;
    }
    .head{
        h2{
            font-size: 30px;
            font-weight: 700;
        }
        .category{
            font-size: 13px;
            border: solid 1px #09425D;
            border-radius: 5px;
            padding: 7px 15px;
            margin: 0;
        }
      }
      .content{
        p{
            font-size: 18px;
            margin: 3px 0 0 0;
        }
      }
      .link{
            color: #09425D;
            font-size: 18px;
            font-weight: 600;
            padding-left: 7px;
      }
      &.profile{
            background-color: #FAEAF4;
            color: #5D093E;
            .category{
                border-color: #5D093E;
            }
            .link{
                color: #5D093E;
            }
            .userBox{
                .userLetter{
                    background-color: rgba(93,9,62,0.74);
                }
            }
        }
        @media (max-width:1366px){
            .head{
                h2{
                    font-size: 27px;
                }
            }
        }
  }

.doubleBlock{
    background-color: #57D2B5;
    color: $white;
    border-radius: 15px;
    .sm-title{
        font-size: 17px;
        display: block;
    }
    .studentSec{
        padding: 25px 35px;
       .userBg{
           width: 80px;
           height: 80px;
           background-color: rgba(255,255,255,0.40);
           font-size: 38px;
       }
       .sm-title{
           font-size: 19px;
       }
       span{
           font-size: 40px;
           font-weight: 700;
       }
       em{
          font-size: 13px;
          font-weight: 500;
       }
    }
    .profileSec{
        border-radius: 15px;
        background: linear-gradient(to bottom, #886EFF 32%, #6149CD 100%);
        padding: 37px 35px 37px 25px;
        height: 100%;
        p{
            font-size: 13px;
            line-height: 21px;
        }
        .mainBtn{
            background-color: rgba(255,255,255,0.20);
            font-size: 13px;
            white-space: nowrap;
        }
    }
    @media (max-width:1366px){
        .studentSec{
            padding: 25px 15px;
            .sm-title{
                font-size: 16px;
            }
            span{
                font-size: 32px;
            }
            .userBg{
                width: 75px;
                height: 75px;
                font-size: 32px;
            }
        }
        .profileSec{
            padding: 28px 25px 28px 20px;
            .mainBtn{
                padding: 10px 20px;
                font-size: 12px;
            }
        }
    }
}

.dashTable{
    max-height: calc(100vh - 480px);
    margin-bottom: 30px;
    @media (max-width: 1366px){
        max-height: calc(100vh - 450px);
    }
    @media (max-width: 1199px){
        max-height: calc(100vh - 110px);
    }
}
.heading{
    h2{
        font-size: 20px;
    }
    hr{
        flex: 1;
    }
}


/* ============ Modal Css Start =========== */

.defaultModal{
    .modal-header{
        padding: 17px 27px;
    }
    .modal-header{
        background-color: $darkBlue;
        color: $white;
        .modal-title{
            font-size: 18px;
            font-weight: 300;
            letter-spacing: .3px;
        }
        .btn-close{
            color:$white;
            opacity: .8;
            &:hover{
                opacity: 1;
            }
        }
    }
    .modal-body{
        background-color: #FBFBFB;
        padding: 20px 27px 25px;
        p{
            line-height: 24px;
        }
        .mainBtn{
            padding: 10px 20px;
            &:hover{
                background-color: #1f863b;
            }
        }
        .download{
            background-color: $darkBlue;
            font-size: 13px;
            &:hover{
                background-color: #0d2b65;
            }
        }
        .classSpec{
            background-color: $lightBlue;
            border:solid 1px #D0E6F2;
            color: #09425D;
            border-radius: 3px;
            padding: 10px 15px;
            font-size: 15px;
        }
    }
}

/* ============ Modal Css End =========== */

.defaultForm{
    .form-label{
        color: #000;
    }
    .form-control{
        height: 45px;
        border: solid 1px #DBDBDB;
        font-size: 14px;
        &[disabled]{
            background-color: #ECEDF0;
            color: #6a6c6f;
            cursor: not-allowed;
        }
    }
    .form-select{
        @extend .form-control;
    }
    .helpText{
        font-size: 12px;
        color: #828282;
    }
    .listBox{
        background: #F8F8F8;
        border: solid 1px #E9E9E9;
        padding: 12px 10px;
        border-radius: 3px;
        .form-control, .form-select{
            height: 40px;
            font-size: 13px;
        }
        .inputBox{
            background: $white;
            border: solid 1px #DBDBDB;
            border-radius: .25rem;
            padding: 7px 10px;
            font-size: 13px;
            max-height: 250px;
            overflow-x: auto;
            li{
                padding: 4px 0px;
            }
            .actionBtn{
                font-size: 20px;
                font-weight: 400;
                width: 25px;
                height: 25px;
                line-height: 25px;
                margin: 0;
            }
            &.addedList{
                max-height: 310px;
            }
        }
    }
}


.classTable{
    max-height: calc(100vh - 170px);
    table{
        .mainBtn{
            padding: 7px 18px;
            font-size: 13px;
            white-space: nowrap;
            letter-spacing: 0;
            .icon{
                font-size: 11px;
                margin-left: 2px;
            }
            &.active{
                .icon{
                    transform: rotate(-180deg);
                }
            }
        }
        tr td:nth-child(1), tr th:nth-child(1){
            text-align: center;
        }
    }
}

.subTable-wrap{
    padding: 0px 12px;
    .subTable{
        background: #F8F8F8;
        border: solid 1px #EBEBEB;
        border-radius: 3px;
        text-align: left;
        position: relative;
        &:after{
            content: "";
            position: absolute;
            top: -14px;
            right: 58px;
            width: 0;
            height: 0;
            border-left: 13px solid transparent;
            border-right: 13px solid transparent;
            border-bottom: 14px solid #EBEBEB;
            @media (max-width: 1550px){
                right: 20px;
            }
            @media (max-width: 991px){
                right: 50px;
            }
        }
        tbody tr:last-child{
            border: none;
        }
        thead tr{
            border-bottom-color: #D6D6D6;
        }
        th{
            background: transparent;
            font-weight: normal;
            font-size: 14px;
            color: #111;
        }
        th{
            padding: 10px;
            position: inherit;
        }
        td{
            padding: 7px 10px;
            &:last-child{
                white-space: nowrap;
            }
        }
    }
}

.editContent-block{
    background-color: $lightBlue;
    padding: 40px 35px;
    border-radius: 15px;
    @media (max-width: 991px){
        padding: 30px;
    }
    .editHead{
        font-size: 20px;
    }
    p{
        color: #6E6E6E;
        margin: 0;
    }
}

.profileWrapper{
    padding: 50px;
    margin: 0 15px 0 -30px;
    height: 100%;
    @media (max-width: 1366px){
        padding: 30px;
        margin: 0 0px 0 -30px;
    }
    @media (max-width: 1199px){
        margin: 0 -30px;
    }
    @media (max-width: 1024px){
        margin: 0 -20px;
    }
    .profileMain{
        padding: 50px;
        border-radius: 15px;
        @media (max-width: 1366px){
            padding: 30px;
        }
    }
    .profileSec{
        .userImg{
            width: 90px;
            height: 90px;
            background: #C0E5E4;
            font-size: 50px;
        }
    
        .userDetails{
            b{
                display: block;
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 3px;
            }
        }
    }
    .viewSec{
        .viewItem{
            margin-top: 30px;
            .form-label{
                color: #6E6E6E;
            }
            p{
                font-size: 18px;
                margin: 0;
            }
            hr{
                background-color: #dadada;
                opacity: 1;
                margin-top: 11px;
            }
            .form-control {
                outline: 0;
                border-width: 0 0 1px;
                border-color: #c7c7c7;
                padding-bottom: 10px;
                padding: 0 .75rem 10px 0;
                border-radius: 0;
                font-size: 18px;
                height: auto;
                transition: border-color .3s ease;
                &:focus {
                    border-color: $blue;
                }
                &[disabled]{
                    background-color: #ECEDF0;
                    color: #6a6c6f;
                    cursor: not-allowed;
                    padding: .375rem .75rem;
                    border-radius: .25rem;
                }
            }
        }
    }
}

.loader-wrap {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.01);
  
    -ms-flex-pack: center;
    -webkit-box-pack: center;
            justify-content: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
            align-items: center;
  
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            display: -webkit-box !important;
            display: -ms-flexbox !important;
            display: flex !important;
  }
  .spinner {
    width: 40px;
    height: 40px;
    position: relative;
  }
  .double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4160F5;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }
  
  .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  @-webkit-keyframes sk-bounce {
    0%, 100% {
      -webkit-transform: scale(0);
    }
    50% {
      -webkit-transform: scale(1);
    }
  }
  
  @keyframes sk-bounce {
    0%, 100% {
      transform: scale(0);
      -webkit-transform: scale(0);
    }
    50% {
      transform: scale(1);
      -webkit-transform: scale(1);
    }
  }