.curriculumWrap {
  position: relative;
}

.curriculumWrap .sectionTitle {
  font-size: 18px;
  color: #5D67E9;
  font-weight: 500;
  padding: 19px 0;
  margin: 0;
}

.curriculumWrap .licLabel {
  font-weight: 500;
  display: block;
  font-size: 14px;
  white-space: nowrap;
  padding: 2px 0;
}

.curriculumWrap .licLabel::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.curriculumWrap .licLabel.math {
  color: #FC6D00;
}

.curriculumWrap .licLabel.math::before {
  background: #FC6D00;
}

.curriculumWrap .licLabel.english {
  color: #6647BF;
}

.curriculumWrap .licLabel.english::before {
  background: #6647BF;
}

.curriculumWrap .primaryBtn {
  padding: 9px 20px;
  background-color: #2EA44E;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 13px;
  transition: background .3s ease;
}

.curriculumWrap .primaryBtn .icon {
  font-size: 11px;
  margin-right: 2px;
}

.curriculumWrap .primaryBtn:hover {
  background-color: #1f863b;
  color: #fff;
}

.curriculumWrap .primaryBtn.default {
  background-color: #09425D;
}

.curriculumWrap .primaryBtn.default:hover {
  background-color: #166b94;
}

.curriculumWrap .primaryBtn.red {
  background-color: #E2180C;
}

.curriculumWrap .primaryBtn.edit {
  background: linear-gradient(#0ABD83, #0E956F);
}

.curriculumWrap .heading h2 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.curriculumWrap .heading hr {
  flex: 1;
  margin: 0 0 0 15px;
}

.curriculumWrap .primaryBlock {
  background-color: #E8F6FD;
  border: solid 1px #D2E9F5;
  border-radius: 10px;
  padding: 20px;
  height: 100%;
}

.curriculumWrap .primaryBlock > h2 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 13px;
  letter-spacing: -.5px;
}

.curriculumWrap .primaryBlock.secondary {
  background-color: #FAEAF4;
  border-color: #F1E4EC;
}

.curriculumWrap .primaryItem {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  border: solid 1px #EFEFEF;
}

.curriculumWrap .primaryItem .itemHead {
  margin-bottom: 7px;
}

.curriculumWrap .primaryItem .itemHead .itemTitle {
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 3px;
}

.curriculumWrap .primaryItem .itemContent {
  margin-bottom: 13px;
}

.curriculumWrap .primaryItem .itemContent li {
  margin: 10px 0;
}

.curriculumWrap .primaryItem .itemContent li span {
  white-space: nowrap;
}

.curriculumWrap .primaryItem .itemContent li hr {
  flex: 1;
  margin: 0 15px;
  opacity: .2;
}

.curriculumWrap .primaryItem .itemContent li b {
  text-align: right;
  font-weight: 500;
}

.curriculumWrap .controlsBlock .searchBox {
  margin-left: 30px;
  max-width: 320px;
  width: 100%;
}

.curriculumWrap .controlsBlock .searchBox .form-control {
  border-radius: 5px 0 0 5px;
  font-size: 14px;
  border-color: #B8B8B8;
}

.curriculumWrap .controlsBlock .searchBox .btn {
  border-radius: 0 5px 5px 0;
  padding: 9px 15px;
  background: #5D67E9;
}

.curriculumWrap .controlsBlock [type="radio"]:checked + label,
.curriculumWrap .controlsBlock [type="radio"]:not(:checked) + label {
  font-weight: 500;
}

.curriculumWrap .publicBlock {
  margin: 0 0 30px;
}

.curriculumWrap .publicBlock .publicWrap .primaryItem {
  border-color: #e0e0e0;
  padding: 20px 17px;
}

.curriculumWrap .grid-col {
  flex: 0 0 auto;
  width: 20%;
}

.curriculumWrap .accordion {
  padding-bottom: 120px;
}

.curriculumWrap .accordion .accordion-item {
  border: none;
  border-bottom: solid 1px #DCDCDC;
  margin-bottom: 0;
}

.curriculumWrap .accordion .accordion-item .accordion-header .accTitle {
  font-size: 20px;
  font-weight: 500;
}

.curriculumWrap .accordion .accordion-item .accordion-header .roundedLabel {
  margin-right: 30px;
}

.curriculumWrap .accordion .accordion-item .accordion-header .accordion-button {
  width: auto;
  border-left: solid 1px #DCDCDC;
  border-right: solid 1px #DCDCDC;
  padding: 24px 24px;
}

.curriculumWrap .accordion .accordion-item .accordion-header .accordion-button:focus {
  box-shadow: none;
}

.curriculumWrap .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
  background: #fff;
  box-shadow: none;
}

.curriculumWrap .accordion .accordion-item .accordion-header .accordion-button::after {
  width: 36px;
  height: 36px;
  border: solid 2px #424242;
  background-position: center;
  border-radius: 50%;
  background-size: 18px;
}

.curriculumWrap .accordion .accordion-item .accordion-body {
  padding: 20px;
  background: #F6F8FE;
  border: solid 1px #EFF2FC;
}

.curriculumWrap .accordion .accordion-item:nth-child(2) .accordion-body {
  background: #FFF9FC;
  border-color: #F9E5EA;
}

.curriculumWrap .accordion .accordion-item:nth-child(3) .accordion-body {
  background: #FFFBEC;
  border-color: #EFE0CA;
}

.roundedLabel {
  border-radius: 50px;
  color: #fff;
  font-size: 13px;
  padding: 2px 9px;
  white-space: nowrap;
  display: inline-block;
  margin-left: 2px;
  background: #ccc;
}

.roundedLabel.public {
  background: #51459F;
}

.roundedLabel.private {
  background: #079698;
}

.roundedLabel.active {
  background: #2EA44E;
}

.roundedLabel.draft {
  background: #F83F3F;
}

.roundedLabel.count {
  background: #FC6D00;
  font-size: 14px;
}

.tabHead {
  padding: 0px 30px;
  background: #F6F8FE;
  border: solid 1px #EFF2FC;
  border-bottom-color: #DCDCDC;
  margin: 0px -30px;
}

.tabHead .item {
  border-bottom: solid 2px transparent;
  padding: 13px 0;
  font-size: 17px;
  font-weight: 500;
  margin-right: 25px;
  color: #222;
  cursor: pointer;
}

.tabHead .item.active {
  border-bottom-color: #5D67E9;
}

.tabHead .item:last-child {
  margin-right: 0;
}

.tabHead .item .editBtn {
  border: solid 2px #2AC055;
  width: 31px;
  height: 31px;
  color: #2AC055;
  padding: 0;
  margin-left: 10px;
  background: #fff;
  font-size: 12px;
}

.tabHead .item .editBtn:hover {
  background-color: #2AC055;
  border-color: #1fa947;
  color: #fff;
}

.whiteBox {
  border: solid 1px #DFDFDF;
  border-radius: 10px;
  background-color: #fff;
  padding: 12px 12px;
  cursor: pointer;
  transition: border-color .3s ease;
}

.whiteBox:hover {
  border-color: rgba(93, 103, 233, 0.68);
}

.whiteBox.selected {
  border-color: #5D67E9;
}

.whiteBox .title {
  font-size: 16px;
  font-weight: 500;
  min-height: 50px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0 0 10px 0;
}

.whiteBox .bottomPanel {
  border-top: solid 1px #d8d8d8;
  padding-top: 10px;
}

.whiteBox .bottomPanel span {
  font-size: 13px;
}

.whiteBox .bottomPanel .moreBtn {
  padding: 7px 4px;
  display: flex;
  align-items: center;
}

.whiteBox .bottomPanel .moreBtn span {
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  background: #818181;
  border-radius: 50%;
  margin: 0 2px;
}

.whiteBox .bottomPanel .moreBtn::after {
  display: none;
}

.whiteBox .bottomPanel .moreBtn:focus {
  outline: none;
  background-color: #ececec;
  border-radius: 3px;
}

.whiteBox .bottomPanel .moreItems {
  border: solid 1px #E2E2E2;
  box-shadow: 0px 0px 5px 0px rgba(51, 51, 51, 0.1);
}

.whiteBox .bottomPanel .moreItems li .btn {
  font-size: 13px;
  font-weight: 500;
  color: #333;
  width: 100%;
  padding: 7px 12px;
  display: flex;
  align-items: center;
}

.whiteBox .bottomPanel .moreItems li .btn .icon {
  font-size: 14px;
  margin-right: 8px;
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  text-align: center;
  color: #727272;
}

.whiteBox .bottomPanel .moreItems li .btn .icon.icon-education {
  font-size: 13px;
}

.whiteBox .bottomPanel .moreItems li .btn.edit {
  color: #2AC055;
}

.whiteBox .bottomPanel .moreItems li .btn.edit .icon {
  color: #2AC055;
}

.whiteBox .bottomPanel .moreItems li .btn.delete {
  color: #EB0101;
}

.whiteBox .bottomPanel .moreItems li .btn.delete .icon {
  color: #EB0101;
  font-size: 15px;
}

.publishBlock {
  position: fixed;
  left: 130px;
  bottom: 0;
  right: 0;
  background: #fff;
  z-index: 9;
  padding: 15px 30px;
  box-shadow: 0 0px 5px rgba(51, 51, 51, 0.24);
}

.publishBlock .primaryBtn {
  white-space: nowrap;
  padding: 13px 30px;
  font-size: 15px;
  border-radius: 3px;
  letter-spacing: .5px;
}

.publishBlock .primaryBtn svg {
  margin-left: 10px;
}

.publishBlock ul {
  margin: 0 40px 0 20px;
}

.publishBlock ul li {
  list-style: disc;
  font-style: italic;
  font-size: 13px;
  color: #646464;
  margin: 4px 0;
}

.customRadio {
  padding: 5px 0;
}

.customRadio .item {
  margin-right: 27px;
}

.customRadio .item:last-child {
  margin-right: 0;
}

.customRadio [type="radio"]:checked,
.customRadio [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.customRadio [type="radio"]:checked + label,
.customRadio [type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  line-height: 22px;
  display: inline-block;
  color: #333;
  font-weight: 400;
  font-size: 15px;
}

.customRadio [type="radio"]:checked + label:before,
.customRadio [type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 22px;
  height: 22px;
  border: 2px solid #999;
  border-radius: 100%;
  background: #fff;
}

.customRadio [type="radio"]:checked + label:after,
.customRadio [type="radio"]:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #5D67E9;
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 100%;
  transition: all 0.2s ease;
}

.customRadio [type="radio"]:checked + label:before {
  border-color: #5D67E9 !important;
}

.customRadio [type="radio"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

.customRadio [type="radio"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

.customCheckbox .item {
  display: block;
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  font-size: 14px;
  user-select: none;
  margin-right: 20px;
}

.customCheckbox .item:last-child {
  margin-right: 0;
}

.customCheckbox .item input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.customCheckbox .item input:checked ~ .checkmark {
  background-color: #5D67E9;
  border-color: #5D67E9;
}

.customCheckbox .item input:checked ~ .checkmark:after {
  display: block;
}

.customCheckbox .item .checkmark:after {
  left: 6px;
  top: 2px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.customCheckbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: solid 1px #8F8F8F;
  border-radius: 3px;
}

.customCheckbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.primaryModal {
  max-width: 550px;
}

.primaryModal .modal-body {
  padding: 30px 38px;
}

.primaryModal .roundedLabel {
  color: #FC6D00;
  border: solid 1px #FC6D00;
  background: transparent;
  font-size: 14px;
  padding: 4px 15px;
  margin: 0;
  white-space: inherit;
}

.primaryModal .heading {
  font-size: 24px;
  font-weight: 500;
  border-bottom: solid 1px #A1A1A1;
  padding: 5px 0;
}

.primaryModal .breadcrumb {
  font-size: 16px;
  font-weight: 500;
  margin: 15px 0;
  color: #666;
}

.primaryModal .selectionWrap {
  border: solid 1px #CFCFCF;
  border-radius: 5px;
  padding: 10px 0;
  max-height: calc(100vh - 380px);
  overflow-y: auto;
}

.primaryModal .selectionWrap .item {
  margin: 1px 0;
}

.primaryModal .selectionWrap .item label {
  padding: 10px 15px;
  font-weight: normal;
  font-size: 15px;
  padding-right: 55px;
}

.primaryModal .selectionWrap .item label:focus, .primaryModal .selectionWrap .item label:hover {
  background-color: #E9ECEF;
}

.primaryModal .selectionWrap [type="radio"]:checked + label:before,
.primaryModal .selectionWrap [type="radio"]:not(:checked) + label:before,
.primaryModal .selectionWrap [type="radio"]:checked + label:after,
.primaryModal .selectionWrap [type="radio"]:not(:checked) + label:after {
  left: auto;
  top: 50%;
  transform: translateY(-50%);
}

.primaryModal .selectionWrap [type="radio"]:checked + label:before,
.primaryModal .selectionWrap [type="radio"]:not(:checked) + label:before {
  right: 15px;
  border-color: #c1c1c1;
}

.primaryModal .selectionWrap [type="radio"]:checked + label:after,
.primaryModal .selectionWrap [type="radio"]:not(:checked) + label:after {
  right: 20px;
}

.primaryModal .selectionWrap [type="radio"]:checked + label {
  background: #E9ECEF;
}

.primaryModal .mainBtn {
  padding: 10px 30px;
}

.primaryModal .mainBtn.cancel {
  background: transparent;
  color: #555;
  border: solid 1px #555;
  padding: 8px 28px;
}

.defaultForm {
  min-height: 300px;
  display: flex;
  flex-direction: column;
}

.defaultForm .customRadio [type="radio"]:checked + label:before,
.defaultForm .customRadio [type="radio"]:not(:checked) + label:before {
  width: 20px;
  height: 20px;
}

.defaultForm .customRadio [type="radio"]:checked + label:after,
.defaultForm .customRadio [type="radio"]:not(:checked) + label:after {
  width: 10px;
  height: 10px;
}

.defaultForm .customRadio [type="radio"]:checked + label,
.defaultForm .customRadio [type="radio"]:not(:checked) + label {
  line-height: 20px;
  padding-left: 27px;
  font-size: 14px;
}
/*# sourceMappingURL=curriculum.css.map */