.curriculumWrap{
    position: relative;
    .sectionTitle{
        font-size: 18px;
        color: #5D67E9;
        font-weight: 500;
        padding: 19px 0;
        margin: 0;
    }
    .licLabel{
        font-weight: 500;
        display: block;
        font-size: 14px;
        white-space: nowrap;
        padding: 2px 0;
        &::before{
            content: "";
            width: 8px;
            height: 8px;
            border-radius: 50%;
            display: inline-block;
            margin-right: 5px;
        }
        &.math{
            color: #FC6D00;
            &::before{
                background: #FC6D00;
            }
        }
        &.english{
            color: #6647BF;
            &::before{
                background: #6647BF;
            }
        }
    }
    .primaryBtn{
        padding: 9px 20px;
        background-color: #2EA44E;
        color: #fff;
        border-radius: 5px;
        border: none;
        font-size: 13px;
        transition: background .3s ease;
        .icon{
            font-size: 11px;
            margin-right: 2px;
        }
        &:hover{
            background-color: #1f863b;
            color: #fff;
        }
        &.default{
            background-color: #09425D;
            &:hover{
                background-color: #166b94;
            }
        }
        &.red{
            background-color: #E2180C;
        }
        &.edit{
            background: linear-gradient(#0ABD83, #0E956F);
        }
    }
    .heading{
        h2{
            font-size: 20px;
            font-weight: 500;
            margin: 0;
        }
        hr{
            flex: 1;
            margin: 0 0 0 15px;
        }
    }

    .primaryBlock{
        background-color: #E8F6FD;
        border: solid 1px #D2E9F5;
        border-radius: 10px;
        padding: 20px;
        height: 100%;
        >h2{
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 13px;
            letter-spacing: -.5px;
        }
        &.secondary{
            background-color: #FAEAF4;
            border-color: #F1E4EC;
        }
    }

    .primaryItem{
        background-color: #fff;
        border-radius: 10px;
        padding: 20px;
        border: solid 1px #EFEFEF;
        .itemHead{
            margin-bottom: 7px;
            .itemTitle{
                font-size: 17px;
                font-weight: 500;
                margin-bottom: 3px;
            }
        }
        .itemContent{
            margin-bottom: 13px;
            li{
                margin: 10px 0;
                span{
                    white-space: nowrap;
                }
                hr{
                    flex: 1;
                    margin: 0 15px;
                    opacity: .2;
                }
                b{
                    text-align: right;
                    font-weight: 500;
                }
            }
        }
    }

    .controlsBlock{
        .searchBox {
            margin-left: 30px;
            max-width: 320px;
            width: 100%;
            .form-control{
                border-radius: 5px 0 0 5px;
                font-size: 14px;
                border-color: #B8B8B8;
            }
            .btn{
                border-radius: 0 5px 5px 0;
                padding: 9px 15px;
                background: #5D67E9;
            }
        }
        [type="radio"]:checked + label,
        [type="radio"]:not(:checked) + label
        {
            font-weight: 500;
        }
    }

    .publicBlock{
        margin: 0 0 30px;
        .publicWrap{
            .primaryItem{
                border-color: #e0e0e0;
                padding: 20px 17px;
            }
        }
    }

    .grid-col{
        flex: 0 0 auto;
        width: 20%;
    }
    
    .accordion{
        padding-bottom: 120px;
        .accordion-item{
            border: none;
            border-bottom: solid 1px #DCDCDC;
            margin-bottom: 0;
            .accordion-header{
                .accTitle{
                    font-size: 20px;
                    font-weight: 500;
                }
                .roundedLabel{
                    margin-right: 30px;
                }
                .accordion-button{
                    width: auto;
                    border-left: solid 1px #DCDCDC;
                    border-right: solid 1px #DCDCDC;
                    padding: 24px 24px;
                    &:focus{
                        box-shadow: none;
                    }
                    &:not(.collapsed){
                        background: #fff;
                        box-shadow: none;
                    }
                    &::after{
                        width: 36px;
                        height: 36px;
                        border: solid 2px #424242;
                        background-position: center;
                        border-radius: 50%;
                        background-size: 18px;
                    }
                }
                
            }
            .accordion-body{
                padding: 20px;
                background: #F6F8FE;
                border: solid 1px #EFF2FC;
            }
            &:nth-child(2) .accordion-body{
                background: #FFF9FC;
                border-color: #F9E5EA;
            }
            &:nth-child(3) .accordion-body{
                background: #FFFBEC;
                border-color: #EFE0CA;
            }
        }
    }
}

.roundedLabel{
    border-radius: 50px;
    color: #fff;
    font-size: 13px;
    padding: 2px 9px;
    white-space: nowrap;
    display: inline-block;
    margin-left: 2px;
    background: #ccc;
    &.public{
        background: #51459F;
    }
    &.private{
        background: #079698;
    }
    &.active{
        background: #2EA44E;
    }
    &.draft{
        background: #F83F3F;
    }
    &.count{
        background: #FC6D00;
        font-size: 14px;
    }
}

.tabHead{
    padding: 0px 30px;
    background: #F6F8FE;
    border: solid 1px #EFF2FC;
    border-bottom-color: #DCDCDC;
    margin: 0px -30px;
    .item{
        border-bottom: solid 2px transparent;
        padding: 13px 0;
        font-size: 17px;
        font-weight: 500;
        margin-right: 25px;
        color: #222;
        &.active{
            border-bottom-color: #5D67E9 ;
        }
        &:last-child{
            margin-right: 0;
        }
        .editBtn{
            border: solid 2px #2AC055;
            width: 31px;
            height: 31px;
            color: #2AC055;
            padding: 0;
            margin-left: 10px;
            background: #fff;
            font-size: 13px;
        }
    }
}

.whiteBox{
    border: solid 1px #DFDFDF;
    border-radius: 10px;
    background-color: #fff;
    padding: 12px 12px;
    cursor: pointer;
    .title{
        font-size: 16px;
        font-weight: 500;
        min-height: 50px;
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        padding: 0 0 10px 0;
    }
    .bottomPanel{
        border-top: solid 1px #d8d8d8;
        padding-top: 10px;
        span{
            font-size: 13px;
        }
        .moreBtn{
            padding: 7px 4px;
            display: flex;
            align-items: center;
            span{
                display: inline-block;
                vertical-align: middle;
                width: 6px;
                height: 6px;
                background: #818181;
                border-radius: 50%;
                margin: 0 2px;
            }
            &::after{
                display: none;
            }
            &:focus{
                outline: none;
                background-color: #ececec;
                border-radius: 3px;
            }
        }
        .moreItems{
            border: solid 1px #E2E2E2;
            box-shadow: 0px 0px 5px 0px rgba(51,51,51,0.10);
            li{
                .btn{
                    font-size: 13px;
                    font-weight: 500;
                    color: #333;
                    width: 100%;
                    padding: 7px 12px;
                    display: flex;
                    align-items: center;
                    .icon{
                        font-size: 14px;
                        margin-right: 8px;
                        display: inline-block;
                        vertical-align: middle;
                        width: 16px;
                        text-align: center;
                        color: #727272;
                        &.icon-education{
                            font-size: 13px;
                        }
                    }
                    &.edit{
                        color: #2AC055;
                        .icon{
                            color: #2AC055;
                        }
                    }
                    &.delete{
                        color: #EB0101;
                        .icon{
                            color: #EB0101;
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
    &.selected{
        border-color: #5D67E9;
    }
}

.publishBlock{
    position: fixed;
    left: 130px;
    bottom: 0;
    right: 0;
    background: #fff;
    z-index: 9;
    padding: 15px 30px;
    box-shadow: 0 0px 5px rgba(51,51,51,0.24);
    .primaryBtn{
        white-space: nowrap;
        padding: 13px 30px;
        font-size: 15px;
        border-radius: 3px;
        letter-spacing: .5px;
        svg{
            margin-left: 10px;
        }
    }
    ul{
        margin: 0 40px 0 20px;
        li{
            list-style: disc;
            font-style: italic;
            font-size: 13px;
            color: #646464;
            margin: 4px 0;
        }
    }
}

.customRadio{
    padding: 5px 0;
    .item{
        margin-right: 27px;
        &:last-child{
            margin-right: 0;
        }
    }
    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }
    [type="radio"]:checked + label,
    [type="radio"]:not(:checked) + label
    {
        position: relative;
        padding-left: 30px;
        cursor: pointer;
        line-height: 22px;
        display: inline-block;
        color: #333;
        font-weight: 400;
        font-size: 15px;
    }
    [type="radio"]:checked + label:before,
    [type="radio"]:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 22px;
        height: 22px;
        border: 2px solid #999;
        border-radius: 100%;
        background: #fff;
    }
    [type="radio"]:checked + label:after,
    [type="radio"]:not(:checked) + label:after {
        content: '';
        width: 12px;
        height: 12px;
        background: #5D67E9;
        position: absolute;
        top: 5px;
        left: 5px;
        border-radius: 100%;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
    [type="radio"]:checked + label:before{
        border-color: #5D67E9 !important;
    }
    [type="radio"]:not(:checked) + label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    [type="radio"]:checked + label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.customCheckbox{
    .item {
        display: block;
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        font-size: 14px;
        user-select: none;
        margin-right: 20px;
        &:last-child{
            margin-right: 0;
        }
        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
            &:checked ~ .checkmark {
                background-color: #5D67E9;
                border-color: #5D67E9;
            }
        }
        input:checked ~ .checkmark:after {
            display: block;
        }
        .checkmark:after {
            left: 6px;
            top: 2px;
            width: 6px;
            height: 12px;
            border: solid white;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }
    }
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #fff;
        border: solid 1px #8F8F8F;
        border-radius: 3px;
        &:after {
            content: "";
            position: absolute;
            display: none;
        }
    }
}

.primaryModal{
    max-width: 550px;
    .modal-body{
        padding: 30px 38px;
    }
    .roundedLabel{
        color: #FC6D00;
        border: solid 1px #FC6D00;
        background: transparent;
        font-size: 14px;
        padding: 4px 15px;
        margin: 0;
        white-space: inherit;
    }
    .heading{
        font-size: 24px;
        font-weight: 500;
        border-bottom: solid 1px #A1A1A1;
        padding: 5px 0;
    }
    .breadcrumb{
        font-size: 16px;
        font-weight: 500;
        margin: 15px 0;
        color: #666;
    }
    .selectionWrap{
        border: solid 1px #CFCFCF;
        border-radius: 5px;
        padding: 10px 0;
        max-height: calc(100vh - 380px);
        overflow-y: auto;
        .item{
            margin: 1px 0;
            label{
                padding: 10px 15px;
                font-weight: normal;
                font-size: 15px;
                padding-right: 55px;
                &:focus,
                &:hover{
                    background-color: #E9ECEF;
                }
            }
        }
        [type="radio"]:checked + label:before, 
        [type="radio"]:not(:checked) + label:before,
        [type="radio"]:checked + label:after, 
        [type="radio"]:not(:checked) + label:after{
            left: auto;
            top: 50%;
            transform: translateY(-50%);
        }
        [type="radio"]:checked + label:before, 
        [type="radio"]:not(:checked) + label:before{
            right: 15px; 
            border-color: #c1c1c1;
        }
        [type="radio"]:checked + label:after, 
        [type="radio"]:not(:checked) + label:after{
            right: 20px;
        }
        [type="radio"]:checked + label{
            background: #E9ECEF;
        }
    }
    .mainBtn{
        padding: 10px 30px;
        &.cancel{
            background: transparent;
            color: #555;
            border: solid 1px #555;
            padding: 8px 28px;
        }
    }
}

.defaultForm{
    min-height: 300px;
    display: flex;
    flex-direction: column;
    .customRadio {
        [type="radio"]:checked + label:before,
        [type="radio"]:not(:checked) + label:before {
            width: 20px;
            height: 20px;
        }
        [type="radio"]:checked + label:after,
        [type="radio"]:not(:checked) + label:after {
            width: 10px;
            height: 10px;
        }
        [type="radio"]:checked + label,
        [type="radio"]:not(:checked) + label {
            line-height: 20px;
            padding-left: 27px;
            font-size: 14px;
        }
    }
}